<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/glider.svg') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}


</head>

<body>
    <header class="site-header">
        <p> MVC (v2) - Benjamin Albarzendji (beal23)</p>
    </header>

    <nav class="navbar">

        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('report') }}">Report</a></li>
        <li><a href="{{ path('lucky') }}">Lucky</a></li>
        <li><a href="{{ path('card') }}">Card</a></li>
        <li><a href="{{ path('api') }}">API</a></li>
        <li><a href="{{ path('session') }}">Session</a></li>

    </nav>
    {% block body %}{% endblock %}


    <footer class="site-footer">
        <p>© Benjamin Albarzendji 2024</p>
</body>

</html>